body {
  background-color: black;
  font-family: Arial;
  padding-top: 50px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 26px;
  color: white;
  background-color: rgb(51, 51, 51);
  border: none;
  border-radius: 30px;
  margin-right: 5px;
  cursor: pointer;
}

.clear-button {
  font-size: 17px;
}

.operator-button {
  background-color: orange;
}

.values {
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
}